.Exploremenu {
    display: flex;
    flex-direction: column;
   gap: 20px;

}
.Exploremenu h1 {
    
    font-weight: 500;
    color: #262626;
   
}
.Exploremenu-text{
    max-width: 60%;
    color: #808080;

}
.Exploremenu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0;
    overflow-x: scroll;

}
.Exploremenu-list::-webkit-scrollbar {
    display: none;
}
.Exploremenu-list-item{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s ease;

    
}
.Exploremenu-list-item p{
    margin-top: 10px;
    color: #808080;
    font-size: max(1.4vw, 16px);
    cursor: pointer;
    text-align: center;
}
.Exploremenu hr{
    margin: 10px 0;
    border: none;
    height: 2px;
    background: #eee;
}
.Exploremenu-list-item .active{
    border:4px solid tomato;
    padding: 2px;

}
