.Header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;

    background-size: contain;
    position: relative;
}
.Header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;

    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
   
}
.Header-contents h2 {
    font-size: max(4.5vw, 24px);
    color: white;
    font-weight: 500;
}
.Header-contents p {
    font-size: max(1.5vw);
    color: white;
    font-weight: 400;
}
.Header-contents button {
    padding: 1vw 2.3vw;
    font-size: max(1vw, 13px);
    background-color: white;
    color:#747474;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 500;
}
