.Food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 0.5s ease-in-out;
    overflow: hidden;
}
.Food-item-img-container{
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;

}
.Food-item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.Food-item-img-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;



}
.Food-item-info{
    padding: 20px;
}
.Food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    
}
.Food-item-name-rating p{
    font-size: 20px;
    font-weight: 500;
}
.Food-item-name-rating img{
    width: 70px;

}
.Food-item-desc{
    color: #676767;
    font-size: 12px;
    
}
.Food-item-price{
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 10px;
}

.Food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}
.Food-item-counter img{
    width: 30px;
    cursor: pointer;
}

@media (max-width: 768px) {
  .Food-item-img-container {
    height: 150px;
  }

  .Food-item-name-rating p {
    font-size: 18px;
  }

  .Food-item-price {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .Food-item-img-container {
    height: 120px;
  }

  .Food-item-name-rating p {
    font-size: 16px;
  }

  .Food-item-desc {
    font-size: 11px;
  }

  .Food-item-price {
    font-size: 18px;
  }
}
